In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Aquisição

In [2]:
size_url = r"C:\Users\ppeix\Palmer_Archipelago\penguins_size.csv"

In [3]:
size_data = pd.read_csv(size_url)

In [4]:
size_data

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

# Análise exploratória

In [5]:
# É de interesse verificar as espécies por ilha.

size_data.groupby('island')['species'].value_counts()

island     species
Biscoe     Gentoo       124
           Adelie        44
Dream      Chinstrap     68
           Adelie        56
Torgersen  Adelie        52
Name: count, dtype: int64

In [6]:
# Como existe a espécie Adelie nas duas ilhas do arquipélago e nas ilhas de Biscoe, que também estão ao oeste da peninsula
# Antartica mas não no mesmo arquipélago, seria interessante avaliar se existe alguma diferença significativa entre esses.

In [7]:
size_data.query('species == "Adelie" & island == "Torgersen"')

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,FEMALE
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,FEMALE
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,FEMALE
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,MALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,MALE
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,FEMALE
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,FEMALE
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,MALE
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,FEMALE
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,MALE
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,FEMALE
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,MALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,FEMALE
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,MALE
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,MALE
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,FEMALE
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,MALE
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,FEMALE
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,MALE
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,FEMALE
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,MALE
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,FEMALE
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,MALE
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,FEMALE
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,MALE
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,FEMALE
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,FEMALE
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE

In [8]:
size_data.query('species == "Adelie" & island == "Dream"')

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
30,Adelie,Dream,39.5,16.7,178.0,3250.0,FEMALE
31,Adelie,Dream,37.2,18.1,178.0,3900.0,MALE
32,Adelie,Dream,39.5,17.8,188.0,3300.0,FEMALE
33,Adelie,Dream,40.9,18.9,184.0,3900.0,MALE
34,Adelie,Dream,36.4,17.0,195.0,3325.0,FEMALE
35,Adelie,Dream,39.2,21.1,196.0,4150.0,MALE
36,Adelie,Dream,38.8,20.0,190.0,3950.0,MALE
37,Adelie,Dream,42.2,18.5,180.0,3550.0,FEMALE
38,Adelie,Dream,37.6,19.3,181.0,3300.0,FEMALE
39,Adelie,Dream,39.8,19.1,184.0,4650.0,MALE
40,Adelie,Dream,36.5,18.0,182.0,3150.0,FEMALE
41,Adelie,Dream,40.8,18.4,195.0,3900.0,MALE
42,Adelie,Dream,36.0,18.5,186.0,3100.0,FEMALE
43,Adelie,Dream,44.1,19.7,196.0,4400.0,MALE
44,Adelie,Dream,37.0,16.9,185.0,3000.0,FEMALE
45,Adelie,Dream,39.6,18.8,190.0,4600.0,MALE
46,Adelie,Dream,41.1,19.0,182.0,3425.0,MALE
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
48,Adelie,Dream,36.0,17.9,190.0,3450.0,FEMALE
49,Adelie,Dream,42.3,21.2,191.0,4150.0,MALE
84,Adelie,Dream,37.3,17.8,191.0,3350.0,FEMALE
85,Adelie,Dream,41.3,20.3,194.0,3550.0,MALE
86,Adelie,Dream,36.3,19.5,190.0,3800.0,MALE
87,Adelie,Dream,36.9,18.6,189.0,3500.0,FEMALE
88,Adelie,Dream,38.3,19.2,189.0,3950.0,MALE
89,Adelie,Dream,38.9,18.8,190.0,3600.0,FEMALE
90,Adelie,Dream,35.7,18.0,202.0,3550.0,FEMALE
91,Adelie,Dream,41.1,18.1,205.0,4300.0,MALE
92,Adelie,Dream,34.0,17.1,185.0,3400.0,FEMALE
93,Adelie,Dream,39.6,18.1,186.0,4450.0,MALE
94,Adelie,Dream,36.2,17.3,187.0,3300.0,FEMALE
95,Adelie,Dream,40.8,18.9,208.0,4300.0,MALE
96,Adelie,Dream,38.1,18.6,190.0,3700.0,FEMALE
97,Adelie,Dream,40.3,18.5,196.0,4350.0,MALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
99,Adelie,Dream,43.2,18.5,192.0,4100.0,MALE
132,Adelie,Dream,36.8,18.5,193.0,3500.0,FEMALE
133,Adelie,Dream,37.5,18.5,199.0,4475.0,MALE
134,Adelie,Dream,38.1,17.6,187.0,3425.0,FEMALE
135,Adelie,Dream,41.1,17.5,190.0,3900.0,MALE
136,Adelie,Dream,35.6,17.5,191.0,3175.0,FEMALE
137,Adelie,Dream,40.2,20.1,200.0,3975.0,MALE
138,Adelie,Dream,37.0,16.5,185.0,3400.0,FEMALE
139,Adelie,Dream,39.7,17.9,193.0,4250.0,MALE
140,Adelie,Dream,40.2,17.1,193.0,3400.0,FEMALE
141,Adelie,Dream,40.6,17.2,187.0,3475.0,MALE
142,Adelie,Dream,32.1,15.5,188.0,3050.0,FEMALE
143,Adelie,Dream,40.7,17.0,190.0,3725.0,MALE
144,Adelie,Dream,37.3,16.8,192.0,3000.0,FEMALE
145,Adelie,Dream,39.0,18.7,185.0,3650.0,MALE
146,Adelie,Dream,39.2,18.6,190.0,4250.0,MALE
147,Adelie,Dream,36.6,18.4,184.0,3475.0,FEMALE
148,Adelie,Dream,36.0,17.8,195.0,3450.0,FEMALE
149,Adelie,Dream,37.8,18.1,193.0,3750.0,MALE
150,Adelie,Dream,36.0,17.1,187.0,3700.0,FEMALE
151,Adelie,Dream,41.5,18.5,201.0,4000.0,MALE

In [9]:
size_data.query('species == "Adelie" & island == "Biscoe"')

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,FEMALE
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,MALE
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,FEMALE
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,MALE
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,MALE
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,FEMALE
26,Adelie,Biscoe,40.6,18.6,183.0,3550.0,MALE
27,Adelie,Biscoe,40.5,17.9,187.0,3200.0,FEMALE
28,Adelie,Biscoe,37.9,18.6,172.0,3150.0,FEMALE
29,Adelie,Biscoe,40.5,18.9,180.0,3950.0,MALE
50,Adelie,Biscoe,39.6,17.7,186.0,3500.0,FEMALE
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,MALE
52,Adelie,Biscoe,35.0,17.9,190.0,3450.0,FEMALE
53,Adelie,Biscoe,42.0,19.5,200.0,4050.0,MALE
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,FEMALE
55,Adelie,Biscoe,41.4,18.6,191.0,3700.0,MALE
56,Adelie,Biscoe,39.0,17.5,186.0,3550.0,FEMALE
57,Adelie,Biscoe,40.6,18.8,193.0,3800.0,MALE
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,FEMALE
59,Adelie,Biscoe,37.6,19.1,194.0,3750.0,MALE
60,Adelie,Biscoe,35.7,16.9,185.0,3150.0,FEMALE
61,Adelie,Biscoe,41.3,21.1,195.0,4400.0,MALE
62,Adelie,Biscoe,37.6,17.0,185.0,3600.0,FEMALE
63,Adelie,Biscoe,41.1,18.2,192.0,4050.0,MALE
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,FEMALE
65,Adelie,Biscoe,41.6,18.0,192.0,3950.0,MALE
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,FEMALE
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,MALE
100,Adelie,Biscoe,35.0,17.9,192.0,3725.0,FEMALE
101,Adelie,Biscoe,41.0,20.0,203.0,4725.0,MALE
102,Adelie,Biscoe,37.7,16.0,183.0,3075.0,FEMALE
103,Adelie,Biscoe,37.8,20.0,190.0,4250.0,MALE
104,Adelie,Biscoe,37.9,18.6,193.0,2925.0,FEMALE
105,Adelie,Biscoe,39.7,18.9,184.0,3550.0,MALE
106,Adelie,Biscoe,38.6,17.2,199.0,3750.0,FEMALE
107,Adelie,Biscoe,38.2,20.0,190.0,3900.0,MALE
108,Adelie,Biscoe,38.1,17.0,181.0,3175.0,FEMALE
109,Adelie,Biscoe,43.2,19.0,197.0,4775.0,MALE
110,Adelie,Biscoe,38.1,16.5,198.0,3825.0,FEMALE
111,Adelie,Biscoe,45.6,20.3,191.0,4600.0,MALE
112,Adelie,Biscoe,39.7,17.7,193.0,3200.0,FEMALE
113,Adelie,Biscoe,42.2,19.5,197.0,4275.0,MALE
114,Adelie,Biscoe,39.6,20.7,191.0,3900.0,FEMALE
115,Adelie,Biscoe,42.7,18.3,196.0,4075.0,MALE

In [10]:
print('Dream \n \n', size_data.query('species == "Adelie" & island == "Dream"').mean(numeric_only=True))
print()
print("Biscoe \n \n", size_data.query('species == "Adelie" & island == "Biscoe"').mean(numeric_only=True))
print()
print("Torgersen \n \n", size_data.query('species == "Adelie" & island == "Torgersen"').mean(numeric_only=True))

Dream

 culmen_length_mm       38.501786
culmen_depth_mm        18.251786
flipper_length_mm     189.732143
body_mass_g          3688.392857
dtype: float64

Biscoe

 culmen_length_mm       38.975000
culmen_depth_mm        18.370455
flipper_length_mm     188.795455
body_mass_g          3709.659091
dtype: float64

Torgersen

 culmen_length_mm       38.950980
culmen_depth_mm        18.429412
flipper_length_mm     191.196078
body_mass_g          3706.372549
dtype: float64

In [11]:
print('Dream \n \n', size_data.query('species == "Adelie" & island == "Dream"').std(numeric_only=True))
print()
print("Biscoe \n \n", size_data.query('species == "Adelie" & island == "Biscoe"').std(numeric_only=True))
print()
print("Torgersen \n \n", size_data.query('species == "Adelie" & island == "Torgersen"').std(numeric_only=True))

Dream

 culmen_length_mm       2.465359
culmen_depth_mm        1.133617
flipper_length_mm      6.585083
body_mass_g          455.146437
dtype: float64

Biscoe

 culmen_length_mm       2.480916
culmen_depth_mm        1.188820
flipper_length_mm      6.729247
body_mass_g          487.733722
dtype: float64

Torgersen

 culmen_length_mm       3.025318
culmen_depth_mm        1.339447
flipper_length_mm      6.232238
body_mass_g          445.107940
dtype: float64

In [12]:
# Dessas 3 últimas análises, infere-se que não existem nenhuma diferença substancialmente notável que difira os pinguins da
# espécie Adelie de diferentes ilhas. Dada a proximidade, já que o arquipélago de Palmer está só um pouco mais ao norte
# das ilhas Biscoe, é possível que haja especiação parapátrica:

'''
Especiação Alopátrica -->  Separadas por barreira geográfica, futuro isolamento reprodutivo e divergência genética;
' Simpátrica --> Não existem limitações geográficas mas também não ocorre cruzamento entre populações;
' Parapátricas --> Quando existe uma imposição geográfica mas não o suficiente para que não haja contado, possibilitando
                    reprodução entre populações.
'''

# Neste caso, a baixa diferenciação de nicho, visto que ocupam o norte da mesma península, reduz as divergências genéticas
# a curto prazo consequentemente a fenótica.

# Pensando assim, será elaborado dois modelos, um que diferencie apenas em relação as especíes, outro as espécies e ilha.
# Para ter uma primeira noção de qual será mais acertivo, farei a mesma avaliação entre diferentes espécies agora.

"\nEspeciação Alopátrica -->  Separadas por barreira geográfica, futuro isolamento reprodutivo e divergência genética;\n' Simpátrica --> Não existem limitações geográficas mas também não ocorre cruzamento entre populações;\n' Parapátricas --> Quando existe uma imposição geográfica mas não o suficiente para que não haja contado, possibilitando\n                    reprodução entre populações.\n"

In [13]:
size_data.query('species == "Gentoo"')

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,FEMALE
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,MALE
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,FEMALE
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,MALE
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,MALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [14]:
size_data.query('species == "Chinstrap"')

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
152,Chinstrap,Dream,46.5,17.9,192.0,3500.0,FEMALE
153,Chinstrap,Dream,50.0,19.5,196.0,3900.0,MALE
154,Chinstrap,Dream,51.3,19.2,193.0,3650.0,MALE
155,Chinstrap,Dream,45.4,18.7,188.0,3525.0,FEMALE
156,Chinstrap,Dream,52.7,19.8,197.0,3725.0,MALE
...,...,...,...,...,...,...,...
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,MALE
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,FEMALE
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,MALE
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,MALE
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,FEMALE

In [15]:
print("Chinstrap \n \n", size_data.query('species == "Chinstrap"').mean(numeric_only=True))
print()
print("Gentoo \n \n", size_data.query('species == "Gentoo"').mean(numeric_only=True))
print()
print("Adelie \n \n", size_data.query('species == "Adelie" & island == "Biscoe"').mean(numeric_only=True))

# Infere-se que pinguins da espécie Gentoo tem a profundidade do culmen maior, pesam mais e tem a barbata maior do que as outras
# espécies, entre Chinstrap e Adelie, no entanto, a largura do culmen do primeiro é maior. Essas diferenciações são importantes
# e podemos imaginar que como existe mais diferenças entre espécies do que entre mesmas espécies de regiões diferentes
# o modelo que avaliar apenas as espécies provavelmente será mais acertivo do que aquele que considerar as ilhas.

Chinstrap

 culmen_length_mm       48.833824
culmen_depth_mm        18.420588
flipper_length_mm     195.823529
body_mass_g          3733.088235
dtype: float64

Gentoo

 culmen_length_mm       47.504878
culmen_depth_mm        14.982114
flipper_length_mm     217.186992
body_mass_g          5076.016260
dtype: float64

Adelie

 culmen_length_mm       38.975000
culmen_depth_mm        18.370455
flipper_length_mm     188.795455
body_mass_g          3709.659091
dtype: float64

# Tratamento

In [16]:
# Os valores nulos serão tratados a partir de interpolação. Não é possível diferenciar valores duplicados de pinguins com
# mesmos valores, então, se houverem valores duplicados, só serão tratados se a quantidade for significante.

In [17]:
size_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [18]:
# A coluna de espécies será separada do do data frame após o tratamento para servir como rótulo.
# island vai ser aderido a espécie se espécie for Adelie.

# Se for necessário, as varíaveis alvos serão traduzidas para numeros.
# a coluna sex será transformada em binário: 1 - Homem, 0 - Mulher.

In [19]:
size_data.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [20]:
size_data.duplicated().sum()

0

In [21]:
# Das features com valores nulos, a coluna que diz respeito ao sexo dos pinguins será a ultima, porque será realizada uma
# análise nas caracteristicas por genero para a definição dos valores faltantes.

In [22]:
cl_array = np.array(list(size_data.query('species == "Gentoo"')['culmen_length_mm'].values))
cl_array

array([46.1, 50. , 48.7, 50. , 47.6, 46.5, 45.4, 46.7, 43.3, 46.8, 40.9,
       49. , 45.5, 48.4, 45.8, 49.3, 42. , 49.2, 46.2, 48.7, 50.2, 45.1,
       46.5, 46.3, 42.9, 46.1, 44.5, 47.8, 48.2, 50. , 47.3, 42.8, 45.1,
       59.6, 49.1, 48.4, 42.6, 44.4, 44. , 48.7, 42.7, 49.6, 45.3, 49.6,
       50.5, 43.6, 45.5, 50.5, 44.9, 45.2, 46.6, 48.5, 45.1, 50.1, 46.5,
       45. , 43.8, 45.5, 43.2, 50.4, 45.3, 46.2, 45.7, 54.3, 45.8, 49.8,
       46.2, 49.5, 43.5, 50.7, 47.7, 46.4, 48.2, 46.5, 46.4, 48.6, 47.5,
       51.1, 45.2, 45.2, 49.1, 52.5, 47.4, 50. , 44.9, 50.8, 43.4, 51.3,
       47.5, 52.1, 47.5, 52.2, 45.5, 49.5, 44.5, 50.8, 49.4, 46.9, 48.4,
       51.1, 48.5, 55.9, 47.2, 49.1, 47.3, 46.8, 41.7, 53.4, 43.3, 48.1,
       50.5, 49.8, 43.5, 51.5, 46.2, 55.1, 44.5, 48.8, 47.2,  nan, 46.8,
       50.4, 45.2, 49.9])

In [23]:
size_data.query('species == "Gentoo"')

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,FEMALE
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,MALE
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,FEMALE
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,MALE
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,MALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [24]:
# Analisando o único valor nulo de culmen_length na espécie gentoo, vi que esse valor com exceção da espécie e ilha, não
# contém mais nenhuma informação, será necessário se isso ocorre com mais alguma linha, essas serão deletadas.

In [25]:
indice = list(size_data[size_data.isnull().sum(axis=1) > 1].index)
size_data.drop(index=indice, inplace=True)

In [26]:
size_data.iloc[indice]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE

In [27]:
# Tratando a coluna sexo:

In [28]:
size_data[size_data['sex'].isnull()]

# Tratar por Espécie e Ilha, agrupado por sexo.

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN

In [29]:
# Como são poucos valores, o tratamento pode ser manual, se houvessem mais dados, seria uma opção um modelo de machine 
# learning que classificasse o sexo quanto as demais caracteristicas.

In [30]:
size_data.query('species == "Adelie" & island == "Torgersen" & sex == "FEMALE"').mean(numeric_only=True)

culmen_length_mm       37.554167
culmen_depth_mm        17.550000
flipper_length_mm     188.291667
body_mass_g          3395.833333
dtype: float64

In [31]:
size_data.query('species == "Adelie" & island == "Torgersen" & sex == "MALE"').mean(numeric_only=True)

culmen_length_mm       40.586957
culmen_depth_mm        19.391304
flipper_length_mm     194.913043
body_mass_g          4034.782609
dtype: float64

In [32]:
size_data.query('species == "Adelie" & island == "Torgersen"')
# 8, 10 e 11 se aproximam dos valores médios para fêmeas.
# 9 distoa

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,FEMALE
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,FEMALE
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,FEMALE
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,MALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,MALE
72,Adelie,Torgersen,39.6,17.2,196.0,3550.0,FEMALE
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE
74,Adelie,Torgersen,35.5,17.5,190.0,3700.0,FEMALE
75,Adelie,Torgersen,42.8,18.5,195.0,4250.0,MALE
76,Adelie,Torgersen,40.9,16.8,191.0,3700.0,FEMALE
77,Adelie,Torgersen,37.2,19.4,184.0,3900.0,MALE
78,Adelie,Torgersen,36.2,16.1,187.0,3550.0,FEMALE
79,Adelie,Torgersen,42.1,19.1,195.0,4000.0,MALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE
82,Adelie,Torgersen,36.7,18.8,187.0,3800.0,FEMALE
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,MALE
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
117,Adelie,Torgersen,37.3,20.5,199.0,3775.0,MALE
118,Adelie,Torgersen,35.7,17.0,189.0,3350.0,FEMALE
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,MALE
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,FEMALE
121,Adelie,Torgersen,37.7,19.8,198.0,3500.0,MALE
122,Adelie,Torgersen,40.2,17.0,176.0,3450.0,FEMALE
123,Adelie,Torgersen,41.4,18.5,202.0,3875.0,MALE
124,Adelie,Torgersen,35.2,15.9,186.0,3050.0,FEMALE
125,Adelie,Torgersen,40.6,19.0,199.0,4000.0,MALE
126,Adelie,Torgersen,38.8,17.6,191.0,3275.0,FEMALE
127,Adelie,Torgersen,41.5,18.3,195.0,4300.0,MALE
128,Adelie,Torgersen,39.0,17.1,191.0,3050.0,FEMALE
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE
130,Adelie,Torgersen,38.5,17.9,190.0,3325.0,FEMALE
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE

In [33]:
size_data.at[8,'sex'] = 'FEMALE'

In [34]:
size_data.at[9,'sex'] = 'MALE'

In [35]:
size_data.at[10,'sex'] = 'FEMALE'

In [36]:
size_data.at[11,'sex'] = 'FEMALE'

In [37]:
size_data.query('species == "Adelie" & island == "Dream" & sex == "FEMALE"').mean(numeric_only=True)

culmen_length_mm       36.911111
culmen_depth_mm        17.618519
flipper_length_mm     187.851852
body_mass_g          3344.444444
dtype: float64

In [38]:
size_data.query('species == "Adelie" & island == "Dream" & sex == "MALE"').mean(numeric_only=True)

culmen_length_mm       40.071429
culmen_depth_mm        18.839286
flipper_length_mm     191.928571
body_mass_g          4045.535714
dtype: float64

In [39]:
size_data.query('species == "Adelie" & island == "Dream"')

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
30,Adelie,Dream,39.5,16.7,178.0,3250.0,FEMALE
31,Adelie,Dream,37.2,18.1,178.0,3900.0,MALE
32,Adelie,Dream,39.5,17.8,188.0,3300.0,FEMALE
33,Adelie,Dream,40.9,18.9,184.0,3900.0,MALE
34,Adelie,Dream,36.4,17.0,195.0,3325.0,FEMALE
35,Adelie,Dream,39.2,21.1,196.0,4150.0,MALE
36,Adelie,Dream,38.8,20.0,190.0,3950.0,MALE
37,Adelie,Dream,42.2,18.5,180.0,3550.0,FEMALE
38,Adelie,Dream,37.6,19.3,181.0,3300.0,FEMALE
39,Adelie,Dream,39.8,19.1,184.0,4650.0,MALE
40,Adelie,Dream,36.5,18.0,182.0,3150.0,FEMALE
41,Adelie,Dream,40.8,18.4,195.0,3900.0,MALE
42,Adelie,Dream,36.0,18.5,186.0,3100.0,FEMALE
43,Adelie,Dream,44.1,19.7,196.0,4400.0,MALE
44,Adelie,Dream,37.0,16.9,185.0,3000.0,FEMALE
45,Adelie,Dream,39.6,18.8,190.0,4600.0,MALE
46,Adelie,Dream,41.1,19.0,182.0,3425.0,MALE
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
48,Adelie,Dream,36.0,17.9,190.0,3450.0,FEMALE
49,Adelie,Dream,42.3,21.2,191.0,4150.0,MALE
84,Adelie,Dream,37.3,17.8,191.0,3350.0,FEMALE
85,Adelie,Dream,41.3,20.3,194.0,3550.0,MALE
86,Adelie,Dream,36.3,19.5,190.0,3800.0,MALE
87,Adelie,Dream,36.9,18.6,189.0,3500.0,FEMALE
88,Adelie,Dream,38.3,19.2,189.0,3950.0,MALE
89,Adelie,Dream,38.9,18.8,190.0,3600.0,FEMALE
90,Adelie,Dream,35.7,18.0,202.0,3550.0,FEMALE
91,Adelie,Dream,41.1,18.1,205.0,4300.0,MALE
92,Adelie,Dream,34.0,17.1,185.0,3400.0,FEMALE
93,Adelie,Dream,39.6,18.1,186.0,4450.0,MALE
94,Adelie,Dream,36.2,17.3,187.0,3300.0,FEMALE
95,Adelie,Dream,40.8,18.9,208.0,4300.0,MALE
96,Adelie,Dream,38.1,18.6,190.0,3700.0,FEMALE
97,Adelie,Dream,40.3,18.5,196.0,4350.0,MALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
99,Adelie,Dream,43.2,18.5,192.0,4100.0,MALE
132,Adelie,Dream,36.8,18.5,193.0,3500.0,FEMALE
133,Adelie,Dream,37.5,18.5,199.0,4475.0,MALE
134,Adelie,Dream,38.1,17.6,187.0,3425.0,FEMALE
135,Adelie,Dream,41.1,17.5,190.0,3900.0,MALE
136,Adelie,Dream,35.6,17.5,191.0,3175.0,FEMALE
137,Adelie,Dream,40.2,20.1,200.0,3975.0,MALE
138,Adelie,Dream,37.0,16.5,185.0,3400.0,FEMALE
139,Adelie,Dream,39.7,17.9,193.0,4250.0,MALE
140,Adelie,Dream,40.2,17.1,193.0,3400.0,FEMALE
141,Adelie,Dream,40.6,17.2,187.0,3475.0,MALE
142,Adelie,Dream,32.1,15.5,188.0,3050.0,FEMALE
143,Adelie,Dream,40.7,17.0,190.0,3725.0,MALE
144,Adelie,Dream,37.3,16.8,192.0,3000.0,FEMALE
145,Adelie,Dream,39.0,18.7,185.0,3650.0,MALE
146,Adelie,Dream,39.2,18.6,190.0,4250.0,MALE
147,Adelie,Dream,36.6,18.4,184.0,3475.0,FEMALE
148,Adelie,Dream,36.0,17.8,195.0,3450.0,FEMALE
149,Adelie,Dream,37.8,18.1,193.0,3750.0,MALE
150,Adelie,Dream,36.0,17.1,187.0,3700.0,FEMALE
151,Adelie,Dream,41.5,18.5,201.0,4000.0,MALE

In [40]:
size_data.at[47,'sex'] = 'FEMALE'

In [41]:
size_data.query('species == "Gentoo" & sex=="MALE"').mean(numeric_only=True)

culmen_length_mm       49.473770
culmen_depth_mm        15.718033
flipper_length_mm     221.540984
body_mass_g          5484.836066
dtype: float64

In [42]:
size_data.query('species == "Gentoo" & sex=="FEMALE"').mean(numeric_only=True)

culmen_length_mm       45.563793
culmen_depth_mm        14.237931
flipper_length_mm     212.706897
body_mass_g          4679.741379
dtype: float64

In [43]:
size_data[size_data['sex'].isnull()]

# TODOS FEMEAS

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN

In [44]:
size_data.at[246, 'sex'] = 'FEMALE'
size_data.at[286, 'sex'] = 'FEMALE'
size_data.at[324, 'sex'] = 'FEMALE'

In [45]:
# TODOS OS VALORES NULOS FORAM TRATADOS.

In [46]:
size_data.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [47]:
size_data_wout_tag = size_data.copy(deep=True)
_size_data_wout_tag = size_data.copy(deep=True)

In [48]:
hex(id(size_data))

'0x207aac74ec0'

In [49]:
hex(id(size_data_wout_tag))

'0x207aa837950'

In [50]:
size_data_wout_tag['tag'] = size_data['species'] + ' ' + size_data['island']

In [51]:
size_data_wout_tag.drop('species', axis=1, inplace=True)

In [52]:
size_data_wout_tag.drop('island', axis=1, inplace=True)

In [53]:
_size_data_wout_tag.drop('island', axis=1, inplace=True)

In [54]:
tag_encode = {'Adelie Torgersen':0,
             'Adelie Biscoe':1,
             'Adelie Dream':2,
             'Chinstrap Dream':3,
             'Gentoo Biscoe':4}

_tag_encode = {'Adelie':0,
             'Chinstrap':1,
             'Gentoo':2}

sex_encode = {'MALE':0,
             'FEMALE':1}

In [55]:
_size_data_wout_tag['species'].replace(_tag_encode, inplace=True)

C:\Users\ppeix\AppData\Local\Temp\ipykernel_22404\3520275392.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  _size_data_wout_tag['species'].replace(_tag_encode, inplace=True)
C:\Users\ppeix\AppData\Local\Temp\ipykernel_22404\3520275392.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  _size_data_wout_tag['species'].replace(_tag_encode, inplace=True)

In [56]:
_size_data_wout_tag['sex'].replace(sex_encode, inplace=True)

C:\Users\ppeix\AppData\Local\Temp\ipykernel_22404\4069022725.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  _size_data_wout_tag['sex'].replace(sex_encode, inplace=True)

In [57]:
_size_data_wout_tag

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,39.1,18.7,181.0,3750.0,0
1,0,39.5,17.4,186.0,3800.0,1
2,0,40.3,18.0,195.0,3250.0,1
4,0,36.7,19.3,193.0,3450.0,1
5,0,39.3,20.6,190.0,3650.0,0
...,...,...,...,...,...,...
338,2,47.2,13.7,214.0,4925.0,1
340,2,46.8,14.3,215.0,4850.0,1
341,2,50.4,15.7,222.0,5750.0,0
342,2,45.2,14.8,212.0,5200.0,1
343,2,49.9,16.1,213.0,5400.0,0

In [58]:
_size_data_wout_tag['sex'].value_counts()
# . ?

_size_data_wout_tag[size_data_wout_tag['sex'] == '.']
_size_data_wout_tag.drop(index=336, axis=0, inplace=True)

In [59]:
_target = _size_data_wout_tag['species'].values.astype(np.float64)

In [60]:
_size_data_wout_tag.drop('species', axis=1, inplace=True)

In [61]:
_size_data_wout_tag['sex'] =_size_data_wout_tag['sex'].astype(np.float64)

In [62]:
np.savetxt(r"C:\Users\ppeix\sklearn_tutorial\_target.csv", _target, delimiter=',')

In [63]:
size_data_wout_tag['tag'].replace(tag_encode, inplace=True)
size_data_wout_tag['sex'].replace(sex_encode, inplace=True)

C:\Users\ppeix\AppData\Local\Temp\ipykernel_22404\4068480862.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  size_data_wout_tag['tag'].replace(tag_encode, inplace=True)
C:\Users\ppeix\AppData\Local\Temp\ipykernel_22404\4068480862.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  size_data_wout_tag['tag'].replace(tag_encode, inplace=True)
C:\Users\ppeix\AppData\Local\Temp\ipykernel_22404\4068480862.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  size_data_wout_tag['sex'].replace(sex_encode, inplace=True)

In [64]:
size_data_wout_tag['sex'].value_counts()
# . ?

size_data_wout_tag[size_data_wout_tag['sex'] == '.']
size_data_wout_tag.drop(index=336, axis=0, inplace=True)

In [65]:
size_data_wout_tag['sex'] = size_data_wout_tag['sex'].convert_dtypes()

In [66]:
tag_array = size_data_wout_tag['tag'].values

In [67]:
complete_data = size_data_wout_tag.copy(deep=True)

In [68]:
complete_data.drop('tag', axis=1, inplace=True)

In [69]:
complete_data.columns = ('largura_bico_mm', 'profundidade_bico_mm','largura_barbatana_mm','massa_corporea_g','genero')

In [70]:
complete_data.head()
features = complete_data.copy(deep=True)

In [72]:
# Salvar as features e os rótulos em csv e importar como arrays numpy para o pre-processamento com scikit learn

In [75]:
tag_array

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], dtype=int64)

In [ ]:
np.savetxt(r"C:\Users\ppeix\sklearn_tutorial\target.csv", tag_array, delimiter=',')

In [ ]:
# para salver em array todos os dados tem que ter o mesmo tipo, no caso, genero(0,1) tem que ser convertido em float.

features['genero'] = features['genero'].astype(np.float64)

In [ ]:
features.to_csv(r"C:\Users\ppeix\sklearn_tutorial\features.csv", sep=',', index=False, header=False)